In [1]:
import boto3
import configparser
import matplotlib.pyplot as plt
import pandas as pd
from time import time
%load_ext sql

In [2]:
# FILL IN THE REDSHIFT ENPOINT HERE
# e.g. DWH_ENDPOINT="redshift-cluster-1.csmamz5zxmle.us-west-2.redshift.amazonaws.com" 
DWH_ENDPOINT="dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com" 
    
#FILL IN THE IAM ROLE ARN you got in step 2.2 of the previous exercise
#e.g DWH_ROLE_ARN="arn:aws:iam::988332130976:role/dwhRole"
DWH_ROLE_ARN="arn:aws:iam::965672055380:role/dwhRole"

In [3]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

DWH_DB= config.get("DWH","DWH_DB")
DWH_DB_USER= config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD= config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT = config.get("DWH","DWH_PORT")

In [4]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [5]:
s3 =  boto3.resource('s3'
                      ,region_name = "us-west-2"
                      ,aws_access_key_id = KEY
                      ,aws_secret_access_key = SECRET)

sampleDbBucket = s3.Bucket("udacity-dend")

#for obj in sampleDbBucket.objects.filter(Prefix="song_data"):
#    print(obj)

## Song Data

In [6]:
result = sampleDbBucket.get("song_data/A/A/A/TRAAAAK128F9318786.json") 
#file_content = content_object.get()['Body'].read().decode('utf-8')
#json_content = json.loads(file_content)
#print(json_content['Details'])

AttributeError: 's3.Bucket' object has no attribute 'get'

In [7]:
import json
content_object = s3.Object('udacity-dend', 'song_data/A/A/A/TRAAAAK128F9318786.json')
file_content = content_object.get()['Body'].read().decode('utf-8')
json_content = json.loads(file_content)
print(json_content)

{'artist_id': 'ARJNIUY12298900C91', 'artist_latitude': None, 'artist_location': '', 'artist_longitude': None, 'artist_name': 'Adelitas Way', 'duration': 213.9424, 'num_songs': 1, 'song_id': 'SOBLFFE12AF72AA5BA', 'title': 'Scream', 'year': 2009}

In [22]:
%%sql 
DROP TABLE IF EXISTS "staging_songs_table";
CREATE TABLE "staging_songs_table" (
    "artist_id" character varying(255),
    "artist_latitude" character varying(255),
    "artist_location" character varying(255),
    "artist_longitude" character varying(255),
    "artist_name" character varying(255),
    "duration" double precision,
    "num_songs" integer,
    "song_id" character varying(255),
    "title" character varying(255),
    "year" integer
);

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [21]:
%%sql 
select * from staging_songs_table limit 1;

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [10]:
%%sql 
select * from stl_load_errors order by starttime desc;

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [23]:
%%time
qry = """
    copy staging_songs_table from 's3://udacity-dend/song_data'
    credentials 'aws_iam_role={}' 
    json 'auto' region 'us-west-2'
""".format(DWH_ROLE_ARN)

%sql $qry

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
CPU times: user 4.24 ms, sys: 27 µs, total: 4.26 ms
Wall time: 4min 17s

In [12]:
%%sql 
select COUNT(*) from staging_songs_table limit 10;

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

## Log Data

In [13]:
import json
content_object = s3.Object('udacity-dend', 'log_json_path.json')
file_content = content_object.get()['Body'].read().decode('utf-8')
json_content = json.loads(file_content)
print(json_content)

{'jsonpaths': ["$['artist']", "$['auth']", "$['firstName']", "$['gender']", "$['itemInSession']", "$['lastName']", "$['length']", "$['level']", "$['location']", "$['method']", "$['page']", "$['registration']", "$['sessionId']", "$['song']", "$['status']", "$['ts']", "$['userAgent']", "$['userId']"]}

In [14]:
import json
content_object = s3.Object('udacity-dend', 'log_data/2018/11/2018-11-01-events.json')
file_content = content_object.get()['Body'].read().decode('utf-8')
file_content
#json_content = json.loads(file_content)[0]
#print(json_content)

'{"artist":null,"auth":"Logged In","firstName":"Walter","gender":"M","itemInSession":0,"lastName":"Frye","length":null,"level":"free","location":"San Francisco-Oakland-Hayward, CA","method":"GET","page":"Home","registration":1540919166796.0,"sessionId":38,"song":null,"status":200,"ts":1541105830796,"userAgent":"\\"Mozilla\\/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit\\/537.36 (KHTML, like Gecko) Chrome\\/36.0.1985.143 Safari\\/537.36\\"","userId":"39"}\n{"artist":null,"auth":"Logged In","firstName":"Kaylee","gender":"F","itemInSession":0,"lastName":"Summers","length":null,"level":"free","location":"Phoenix-Mesa-Scottsdale, AZ","method":"GET","page":"Home","registration":1540344794796.0,"sessionId":139,"song":null,"status":200,"ts":1541106106796,"userAgent":"\\"Mozilla\\/5.0 (Windows NT 6.1; WOW64) AppleWebKit\\/537.36 (KHTML, like Gecko) Chrome\\/35.0.1916.153 Safari\\/537.36\\"","userId":"8"}\n{"artist":"Des\'ree","auth":"Logged In","firstName":"Kaylee","gender":"F","itemInSession":1,"lastName":"Summers","length":246.30812,"level":"free","location":"Phoenix-Mesa-Scottsdale, AZ","method":"PUT","page":"NextSong","registration":1540344794796.0,"sessionId":139,"song":"You Gotta Be","status":200,"ts":1541106106796,"userAgent":"\\"Mozilla\\/5.0 (Windows NT 6.1; WOW64) AppleWebKit\\/537.36 (KHTML, like Gecko) Chrome\\/35.0.1916.153 Safari\\/537.36\\"","userId":"8"}\n{"artist":null,"auth":"Logged In","firstName":"Kaylee","gender":"F","itemInSession":2,"lastName":"Summers","length":null,"level":"free","location":"Phoenix-Mesa-Scottsdale, AZ","method":"GET","page":"Upgrade","registration":1540344794796.0,"sessionId":139,"song":null,"status":200,"ts":1541106132796,"userAgent":"\\"Mozilla\\/5.0 (Windows NT 6.1; WOW64) AppleWebKit\\/537.36 (KHTML, like Gecko) Chrome\\/35.0.1916.153 Safari\\/537.36\\"","userId":"8"}\n{"artist":"Mr Oizo","auth":"Logged In","firstName":"Kaylee","gender":"F","itemInSession":3,"lastName":"Summers","length":144.03873,"level":"free","location":"Phoenix-Mesa-Scottsdale, AZ","method":"PUT","page":"NextSong","registration":1540344794796.0,"sessionId":139,"song":"Flat 55","status":200,"ts":1541106352796,"userAgent":"\\"Mozilla\\/5.0 (Windows NT 6.1; WOW64) AppleWebKit\\/537.36 (KHTML, like Gecko) Chrome\\/35.0.1916.153 Safari\\/537.36\\"","userId":"8"}\n{"artist":"Tamba Trio","auth":"Logged In","firstName":"Kaylee","gender":"F","itemInSession":4,"lastName":"Summers","length":177.18812,"level":"free","location":"Phoenix-Mesa-Scottsdale, AZ","method":"PUT","page":"NextSong","registration":1540344794796.0,"sessionId":139,"song":"Quem Quiser Encontrar O Amor","status":200,"ts":1541106496796,"userAgent":"\\"Mozilla\\/5.0 (Windows NT 6.1; WOW64) AppleWebKit\\/537.36 (KHTML, like Gecko) Chrome\\/35.0.1916.153 Safari\\/537.36\\"","userId":"8"}\n{"artist":"The Mars Volta","auth":"Logged In","firstName":"Kaylee","gender":"F","itemInSession":5,"lastName":"Summers","length":380.42077,"level":"free","location":"Phoenix-Mesa-Scottsdale, AZ","method":"PUT","page":"NextSong","registration":1540344794796.0,"sessionId":139,"song":"Eriatarka","status":200,"ts":1541106673796,"userAgent":"\\"Mozilla\\/5.0 (Windows NT 6.1; WOW64) AppleWebKit\\/537.36 (KHTML, like Gecko) Chrome\\/35.0.1916.153 Safari\\/537.36\\"","userId":"8"}\n{"artist":"Infected Mushroom","auth":"Logged In","firstName":"Kaylee","gender":"F","itemInSession":6,"lastName":"Summers","length":440.2673,"level":"free","location":"Phoenix-Mesa-Scottsdale, AZ","method":"PUT","page":"NextSong","registration":1540344794796.0,"sessionId":139,"song":"Becoming Insane","status":200,"ts":1541107053796,"userAgent":"\\"Mozilla\\/5.0 (Windows NT 6.1; WOW64) AppleWebKit\\/537.36 (KHTML, like Gecko) Chrome\\/35.0.1916.153 Safari\\/537.36\\"","userId":"8"}\n{"artist":"Blue October \\/ Imogen Heap","auth":"Logged In","firstName":"Kaylee","gender":"F","itemInSession":7,"lastName":"Summers","length":241.3971,"level":"free","location":"Phoenix-Mesa-Scottsdale, AZ","method":"PUT","page":"NextSong","registration":1540344794796.0,"sessionId":139,"song":"Congratulations","status":200,"ts":1541107493796,"userAgent":"\\"Mozilla\\/5.0 (Windows NT 6.1; WOW64) AppleWebKit\\/537.36 (KHTML, like Gecko) Chrome\\/35.0.1916.153 Safari\\/537.36\\"","userId":"8"}\n{"artist":"Girl Talk","auth":"Logged In","firstName":"Kaylee","gender":"F","itemInSession":8,"lastName":"Summers","length":160.15628,"level":"free","location":"Phoenix-Mesa-Scottsdale, AZ","method":"PUT","page":"NextSong","registration":1540344794796.0,"sessionId":139,"song":"Once again","status":200,"ts":1541107734796,"userAgent":"\\"Mozilla\\/5.0 (Windows NT 6.1; WOW64) AppleWebKit\\/537.36 (KHTML, like Gecko) Chrome\\/35.0.1916.153 Safari\\/537.36\\"","userId":"8"}\n{"artist":"Black Eyed Peas","auth":"Logged In","firstName":"Sylvie","gender":"F","itemInSession":0,"lastName":"Cruz","length":214.93506,"level":"free","location":"Washington-Arlington-Alexandria, DC-VA-MD-WV","method":"PUT","page":"NextSong","registration":1540266185796.0,"sessionId":9,"song":"Pump It","status":200,"ts":1541108520796,"userAgent":"\\"Mozilla\\/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit\\/537.77.4 (KHTML, like Gecko) Version\\/7.0.5 Safari\\/537.77.4\\"","userId":"10"}\n{"artist":null,"auth":"Logged In","firstName":"Ryan","gender":"M","itemInSession":0,"lastName":"Smith","length":null,"level":"free","location":"San Jose-Sunnyvale-Santa Clara, CA","method":"GET","page":"Home","registration":1541016707796.0,"sessionId":169,"song":null,"status":200,"ts":1541109015796,"userAgent":"\\"Mozilla\\/5.0 (X11; Linux x86_64) AppleWebKit\\/537.36 (KHTML, like Gecko) Ubuntu Chromium\\/36.0.1985.125 Chrome\\/36.0.1985.125 Safari\\/537.36\\"","userId":"26"}\n{"artist":"Fall Out Boy","auth":"Logged In","firstName":"Ryan","gender":"M","itemInSession":1,"lastName":"Smith","length":200.72444,"level":"free","location":"San Jose-Sunnyvale-Santa Clara, CA","method":"PUT","page":"NextSong","registration":1541016707796.0,"sessionId":169,"song":"Nobody Puts Baby In The Corner","status":200,"ts":1541109125796,"userAgent":"\\"Mozilla\\/5.0 (X11; Linux x86_64) AppleWebKit\\/537.36 (KHTML, like Gecko) Ubuntu Chromium\\/36.0.1985.125 Chrome\\/36.0.1985.125 Safari\\/537.36\\"","userId":"26"}\n{"artist":"M.I.A.","auth":"Logged In","firstName":"Ryan","gender":"M","itemInSession":2,"lastName":"Smith","length":233.7171,"level":"free","location":"San Jose-Sunnyvale-Santa Clara, CA","method":"PUT","page":"NextSong","registration":1541016707796.0,"sessionId":169,"song":"Mango Pickle Down River (With The Wilcannia Mob)","status":200,"ts":1541109325796,"userAgent":"\\"Mozilla\\/5.0 (X11; Linux x86_64) AppleWebKit\\/537.36 (KHTML, like Gecko) Ubuntu Chromium\\/36.0.1985.125 Chrome\\/36.0.1985.125 Safari\\/537.36\\"","userId":"26"}\n{"artist":"Survivor","auth":"Logged In","firstName":"Jayden","gender":"M","itemInSession":0,"lastName":"Fox","length":245.36771,"level":"free","location":"New Orleans-Metairie, LA","method":"PUT","page":"NextSong","registration":1541033612796.0,"sessionId":100,"song":"Eye Of The Tiger","status":200,"ts":1541110994796,"userAgent":"\\"Mozilla\\/5.0 (Windows NT 6.3; WOW64) AppleWebKit\\/537.36 (KHTML, like Gecko) Chrome\\/36.0.1985.143 Safari\\/537.36\\"","userId":"101"}'

In [24]:
%%sql 
DROP TABLE IF EXISTS "staging_events_table";
CREATE TABLE "staging_events_table" (
    "artist" character varying(255),
    "auth" character varying(255),
    "firstName" character varying(255),
    "gender" character varying(10),
    "itemInSession" integer,
    "lastName" character varying(255),
    "length" double precision,
    "level" character varying(50),
    "location" character varying(255),
    "method" character varying(255),
    "page" character varying(255),
    "registration" character varying(100),
    "sessionId" integer,
    "song" character varying(255),
    "status" integer,
    "ts" character varying(255),
    "userAgent" character varying(255),
    "userId" integer
);

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [25]:
%%time
qry = """
    copy staging_events_table from 's3://udacity-dend/log_data'
    credentials 'aws_iam_role={}' 
    json 's3://udacity-dend/log_json_path.json' region 'us-west-2'
""".format(DWH_ROLE_ARN)

%sql $qry

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
CPU times: user 3.48 ms, sys: 456 µs, total: 3.93 ms
Wall time: 2.12 s

In [17]:
%%sql 
select * from staging_events_table limit 5;

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(None, 'Logged In', 'Adler', 'M', 0, 'Barrera', None, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'GET', 'Home', '1540835983796', 248, None, 200, '1541470364796', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 100),
 ('Gustavo Cerati', 'Logged In', 'Adler', 'M', 1, 'Barrera', 249.44281, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'PUT', 'NextSong', '1540835983796', 248, 'Uno Entre 1000', 200, '1541470383796', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 100),
 ('Limp Bizkit', 'Logged In', 'Adler', 'M', 2, 'Barrera', 270.49751, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'PUT', 'NextSong', '1540835983796', 248, 'Behind Blue Eyes', 200, '1541470632796', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 100),
 (None, 'Logged In', 'Samuel', 'M', 0, 'Gonzalez', None, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'GET', 'Home', '1540492941796', 252, None, 200, '1541473967796', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"', 61),
 ('Mikel Erentxun', 'Logged In', 'Samuel', 'M', 1, 'Gonzalez', 178.83383, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'PUT', 'NextSong', '1540492941796', 252, 'Frases Mudas', 200, '1541474048796', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"', 61)]

In [18]:
%%sql 
select * from staging_songs_table limit 5;

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARA23XO1187B9AF18F', '40.578850000000003', 'Carteret, New Jersey', '-74.219560000000001', 'The Smithereens', 192.522, 1, 'SOKTJDS12AF72A25E5', 'Drown In My Own Tears (24-Bit Digitally Remastered 04)', 0),
 ('ARFCUN31187B9AD578', '51.506320000000002', 'London, England', '-0.12714', 'The Rolling Stones', 271.49016, 1, 'SONQBUB12A6D4F8ED0', 'Angie (1993 Digital Remaster)', 0),
 ('ARY0RQP1187FB48B93', None, '', None, 'Mickey 3D', 207.12444, 1, 'SOHOXLZ12A6D4F8FC0', 'Les Gens Raisonnables', 2003),
 ('ARIVQ621187FB5A88D', None, '', None, 'Massimo Volume', 270.78485, 1, 'SOXQDSK12A6D4FA909', "La Notte Dell'11 Ottobre", 1995),
 ('AR5LZJD1187FB4C5E5', '35.666930000000001', ' NC', '-80.469350000000006', 'Britt Nicole', 204.06812, 1, 'SOGXFIF12A58A78CC4', 'Hanging On (Medium Key Performance Track Without Background Vocals)', 0)]

In [33]:
%%sql 
select sum(case when artist_id is null then 1 else 0 end) as artist_id
    ,sum(case when artist_latitude is null then 1 else 0 end) as artist_latitude
    ,sum(case when artist_location is null then 1 else 0 end) as artist_location
    ,sum(case when artist_longitude is null then 1 else 0 end) as artist_longitude
    ,sum(case when artist_name is null then 1 else 0 end) as artist_name
    ,sum(case when duration is null then 1 else 0 end) as duration
    ,sum(case when num_songs is null then 1 else 0 end) as num_songs
    ,sum(case when song_id is null then 1 else 0 end) as song_id
    ,sum(case when title is null then 1 else 0 end) as title
    ,sum(case when year is null then 1 else 0 end) as year
from staging_songs_table
limit 10;

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(0, 9619, 1, 9619, 0, 0, 0, 0, 0, 0)]

In [34]:
%%sql 
select sum(case when artist is null then 1 else 0 end) as artist
    ,sum(case when auth is null then 1 else 0 end) as auth
    ,sum(case when firstname is null then 1 else 0 end) as firstname
    ,sum(case when gender is null then 1 else 0 end) as gender
    ,sum(case when iteminsession is null then 1 else 0 end) as iteminsession
    ,sum(case when lastname is null then 1 else 0 end) as lastname
    ,sum(case when length is null then 1 else 0 end) as length
    ,sum(case when level is null then 1 else 0 end) as level
    ,sum(case when location is null then 1 else 0 end) as location
    ,sum(case when method is null then 1 else 0 end) as method
    ,sum(case when page is null then 1 else 0 end) as page
    ,sum(case when registration is null then 1 else 0 end) as registration
    ,sum(case when sessionid is null then 1 else 0 end) as sessionid
    ,sum(case when song is null then 1 else 0 end) as song
    ,sum(case when status is null then 1 else 0 end) as status
    ,sum(case when ts is null then 1 else 0 end) as ts
    ,sum(case when useragent is null then 1 else 0 end) as useragent
    ,sum(case when userid is null then 1 else 0 end) as userid    
from staging_events_table
limit 10;

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(1236, 0, 286, 286, 0, 286, 1236, 0, 286, 0, 0, 286, 0, 1236, 0, 0, 286, 286)]

## SONGS TABLE

In [77]:
##(df[['song_id', 'title', 'artist_id', 'year', 'duration']].values[0]).tolist()
##song_id varchar PRIMARY KEY UNIQUE NOT NULL, title varchar, artist_id varchar, year int, duration float

In [38]:
%%sql 
DROP TABLE IF EXISTS "songs";
CREATE TABLE "songs" (
    "song_id" character varying(255) sortkey distkey primary key not null ,
    "title" character varying(255) not null,
    "artist_id" character varying(255) not null,
    "year" integer not null,
    "duration" double precision not null);

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [52]:
%%sql 
insert into songs (song_id, title, artist_id, year, duration)
select song_id, title, artist_id, year, duration from staging_songs_table limit 10;

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[]

In [85]:
%%sql 
select song_id, title, artist_id, duration, year from staging_songs_table limit 10;

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('SOQPWCR12A6D4FB2A3', 'A Poor Recipe For Civic Cohesion', 'AR73AIO1187B9AD57B', 118.07302, 2005),
 ('SOLLHMX12AB01846DC', 'The Emperor Falls', 'AR1Y2PT1187FB5B9CE', 484.62322, 0),
 ('SOLJCCO12A6701F987', 'Fall On Me (Live)', 'ARR6LWJ1187FB44C8B', 203.12771, 1995),
 ('SOZQOSV12AB018CDFC', 'Do You Miss Me (Killians) (LP Version)', 'ARBVASN1187B9890CB', 169.69098, 2001),
 ('SOUBASN12AC468DB23', 'Income', 'ARCVOFZ1187FB58074', 443.45424, 0),
 ('SOYTJFX12A6D4F9639', 'Helplessly_ Hopelessly', 'ARUUV9X1187B98A4F3', 240.45669, 2001),
 ('SOQYORG12AC3DF81B4', 'Rainbow Yoshi', 'ARP7AEC1187B98B4B2', 148.61016, 2008),
 ('SOSQXOJ12A8AE46E3A', 'Intro', 'AR3T4DT1187B9A00AF', 64.73098, 1999),
 ('SOIXSBI12A8C13EBC1', 'The Ballad Of Gus And Sam', 'ARVSSMY1187FB54535', 209.99791, 2006),
 ('SOAUIQZ12A8C13E7A2', 'Song of Doing Laundry', 'AROEG4C1187B99DC4A', 258.87302, 0)]

In [81]:
%%sql 
select * from songs limit 10;

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('SOZQRFC12AB017EE91', 'The Telescope', 'ARDH3D91187B99478C', 163, 2007.0),
 ('SOBQFAX12A6D4FC885', 'Hold Fast To The Right', 'ARE1E131187B9B6F22', 178, 2004.0),
 ('SORBTXD12AB018D2D2', "They're Coming For You", 'AR7EXXM1187B995510', 193, 0.0),
 ('SODTRPJ12A8C1377E9', 'Oh My God', 'AR1QXAQ1187FB47FAC', 266, 2000.0),
 ('SOAFBCP12A8C13CC7D', 'King Of Scurf (2007 Digital Remaster)', 'ARTC1LV1187B9A4858', 301, 1972.0),
 ('SORIXJD12A8C13489C', 'I Had A Dream', 'ARY123V1187B9A5BDF', 137, 1967.0),
 ('SOSYXWY12A6701DAB1', 'Desire (Album mix)', 'ARCRS2O1187B99012F', 214, 2003.0),
 ('SOTWWBZ12AB01845E0', 'Not Buried Deep Enough', 'ARSF4161187B9B449F', 229, 1995.0),
 ('SOWRLSY12AC4687694', "Cheatin' In The Next Room", 'ARUT16P1187FB532A4', 235, 0.0),
 ('SOHMMMC12AB0181C42', 'Sudanese Dance', 'ARNIFX51187FB418EA', 273, 2000.0)]

## Step 2. Artists

In [40]:
%%sql 
DROP TABLE IF EXISTS "artists";
CREATE TABLE "artists" (
    "artist_id" character varying(255) sortkey distkey primary key not null,
    "name" character varying(255) not null,
    "location" character varying(255),
    "latitude" character varying(255),
    "longitude" character varying(255))

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [53]:
%%sql 
insert into artists (artist_id, name, location, latitude, longitude)
select artist_id, artist_name, artist_location, artist_latitude, artist_longitude from staging_songs_table limit 10;

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[]

In [94]:
%%sql 
select * from artists limit 10;

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('AREFFQF1187FB3F845', 'The Hold Steady', 'New York, NY', None, None),
 ('AR4E4121187FB51F4E', 'A Fine Frenzy', 'Los Angeles', None, None),
 ('ARAW99S1187B9B6EBF', 'Phil Ochs', 'El Paso, TX', None, None),
 ('ARKZJ301187FB521B2', 'Lily Allen', 'LDN', None, None),
 ('AR6CDFS119B3402ECF', 'Wingtip Sloat', '', None, None),
 ('ARQ1IBC1187B98D090', 'Cud', 'England', '52.883560000000003', '-1.9740599999999999'),
 ('ARGE7G11187FB37E05', 'Cyndi Lauper', 'Brooklyn, NY', None, None),
 ('AR6O7DD1187B989B72', 'Lila Downs', 'Oaxaca, Mexico', '17.151990000000001', '-96.209410000000005'),
 ('ARBBHDX1187B9B2EE7', 'Godflesh', 'Birmingham, England', '52.478589999999997', '-1.9086000000000001'),
 ('AR1RHCO1187B9AF0BF', 'Vince Guaraldi / Bola Sete', 'San Francisco, CA', '37.779159999999997', '-122.42005')]

## Step 3. Timetable

In [96]:
%%sql 
select * from staging_events_table limit 5;

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(None, 'Logged Out', None, None, 0, None, None, 'free', None, 'PUT', 'Login', None, 52, None, 307, '1541207073796', None, None),
 (None, 'Logged In', 'Celeste', 'F', 1, 'Williams', None, 'free', 'Klamath Falls, OR', 'GET', 'Home', '1541077528796', 52, None, 200, '1541207123796', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Mynt', 'Logged In', 'Celeste', 'F', 2, 'Williams', 166.94812, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', '1541077528796', 52, 'Playa Haters', 200, '1541207150796', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Taylor Swift', 'Logged In', 'Celeste', 'F', 3, 'Williams', 230.47791, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', '1541077528796', 52, 'You Belong With Me', 200, '1541207316796', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Amy Winehouse', 'Logged In', 'Celeste', 'F', 4, 'Williams', 229.85098, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', '1541077528796', 52, 'Valerie', 200, '1541207546796', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53)]

In [105]:
%%sql 
select TIMESTAMP 'epoch' + 1541207073796/1000 * INTERVAL '1 second'

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(datetime.datetime(2018, 11, 3, 1, 4, 33),)]

In [108]:
%%sql 
select cast(TIMESTAMP 'epoch' + ts/1000 * INTERVAL '1 second' as timestamp) from staging_events_table limit 1;

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(datetime.datetime(2018, 11, 3, 1, 4, 33, 796000),)]

In [115]:
%%sql 
select check_timestamp 
       ,extract('hour' from  check_timestamp)
       ,extract('day' from  check_timestamp)
       ,extract('week' from  check_timestamp)
       ,extract('month' from  check_timestamp)
       ,extract('year' from  check_timestamp)
       ,extract('weekday' from  check_timestamp)
from (select cast(TIMESTAMP 'epoch' + ts/1000 * INTERVAL '1 second' as timestamp) as check_timestamp from staging_events_table limit 1) as base;

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(datetime.datetime(2018, 11, 3, 1, 4, 33, 796000), 1, 3, 44, 11, 2018, 6)]

In [ ]:
time  (start_time timestamp PRIMARY KEY UNIQUE NOT NULL, hour int, day int, week int, month int, year int, weekday int

In [ ]:
%%sql 
DROP TABLE IF EXISTS "time";
CREATE TABLE "time" (
    "start_time" timestamp sortkey primary key not null ,
    "hour" integer not null,
    "day" integer not null,
    "week" integer not null,
    "month" integer not null,
    "year" integer not null,
    "weekday" integer not null) diststyle all;

In [54]:
%%sql 
insert into time (start_time, hour, day, week, month, year, weekday)
select check_timestamp
       ,extract('hour' from  check_timestamp)
       ,extract('day' from  check_timestamp)
       ,extract('week' from  check_timestamp)
       ,extract('month' from  check_timestamp)
       ,extract('year' from  check_timestamp)
       ,extract('weekday' from  check_timestamp)
from (select cast(TIMESTAMP 'epoch' + ts/1000 * INTERVAL '1 second' as timestamp) as check_timestamp from staging_events_table limit 1) as base;

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[]

In [118]:
%%sql 
select * from  time;

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(datetime.datetime(2018, 11, 3, 1, 4, 33, 796000), 1, 3, 44, 11, 2018, 6)]

## Step 4. Users

In [125]:
##user_df = df[['userId','firstName','lastName','gender','level']]
 ##users (user_id varchar PRIMARY KEY UNIQUE NOT NULL, first_name varchar, last_name varchar, gender varchar, level varchar)

In [44]:
%%sql 
DROP TABLE IF EXISTS "users";
CREATE TABLE "users" (
    "user_id" character varying(255) primary key,
    "first_name" character varying(255),
    "last_name" character varying(255),
    "gender" character varying(10),
    "level" character varying(50) not null) diststyle all;

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [49]:
%%sql 
insert into users (user_id, first_name, last_name, gender, level)
select distinct userid, firstname, lastname, gender, level from staging_events_table where page = 'NextSong' limit 5;

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[]

In [50]:
%%sql 
select * from users limit 5;

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('100', 'Adler', 'Barrera', 'M', 'free'),
 ('100', 'Adler', 'Barrera', 'M', 'free'),
 ('100', 'Adler', 'Barrera', 'M', 'free'),
 ('61', 'Samuel', 'Gonzalez', 'M', 'free'),
 ('61', 'Samuel', 'Gonzalez', 'M', 'free')]

## Step 5. Users

In [ ]:
%%sql 
select * from staging_events_table limit 5; 
select * from staging_songs_table limit 5;

In [26]:
%%sql 
DROP TABLE IF EXISTS "songplays";
CREATE TABLE "songplays" (
    "songplay_id" bigint identity not null sortkey ,
    "start_time" timestamp not null,
    "user_id" character varying(255),
    "level" character varying(10) not null,
    "song_id" character varying(255) distkey not null,
    "artist_id" character varying(255) not null,
    "session_id" character varying(255) not null ,
    "location" character varying(255),
    "user_agent" character varying(255))

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [27]:
##songplay_id varchar PRIMARY KEY UNIQUE NOT NULL, start_time timestamp, user_id varchar,level varchar, song_id varchar,artist_id varchar, session_id varchar, location varchar, user_agent varchar

In [28]:
%%sql 
insert into songplays ( start_time, user_id, level, song_id, artist_id, session_id, location, user_agent)
select cast(TIMESTAMP 'epoch' + ts/1000 * INTERVAL '1 second' as timestamp)
        ,userId
        ,level
        ,song_id
        ,artist_id
        ,sessionId
        ,location
        ,userAgent
from staging_events_table 
join staging_songs_table 
on  staging_songs_table.artist_name = staging_events_table.artist
and staging_songs_table.duration = staging_events_table.length 
and staging_songs_table.title = staging_events_table.song 
;

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
319 rows affected.

[]

In [29]:
%%sql 
select * from songplays limit 5;

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(12, datetime.datetime(2018, 11, 26, 18, 25, 34, 796000), '92', 'free', 'SONQBUB12A6D4F8ED0', 'ARFCUN31187B9AD578', '938', 'Palestine, TX', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (20, datetime.datetime(2018, 11, 24, 12, 43, 0, 796000), '73', 'paid', 'SONQBUB12A6D4F8ED0', 'ARFCUN31187B9AD578', '692', 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (38, datetime.datetime(2018, 11, 13, 18, 39, 37, 796000), '15', 'paid', 'SOVAEBW12AB0182CE6', 'AR756JL1187FB3D3A9', '417', 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (39, datetime.datetime(2018, 11, 6, 16, 38, 15, 796000), '2', 'free', 'SOSMXVH12A58A7CA6C', 'AR6PJ8R1187FB5AD70', '126', 'Plymouth, IN', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (41, datetime.datetime(2018, 11, 21, 1, 5, 29, 796000), '97', 'paid', 'SORTFPF12A81C2171A', 'ARY5UO61187FB5271F', '671', 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"')]

In [48]:
%%sql 
select count(*),'users' from users 
union all 
select count(*),'songplays'  from songplays
union all 
select count(*),'time'  from time
union all 
select count(*),'artists'  from artists
union all 
select count(*),'songs'  from songs
union all 
select count(*),'staging_events_table'  from staging_events_table
union all 
select count(*),'staging_songs_table'  from staging_songs_table

 * postgresql://dwhuser:***@dwhcluster.cwf0tkzhheni.us-west-2.redshift.amazonaws.com:5439/dwh
7 rows affected.

[(5, 'users'),
 (1, 'time'),
 (10, 'artists'),
 (8056, 'staging_events_table'),
 (319, 'songplays'),
 (10, 'songs'),
 (14896, 'staging_songs_table')]